body{
    background-color: #f4f4f4;
    font-family: 'Roboto', sans-serif;
}

.al-img{
    width: 100%;
    display: block;
}

.al-bg-dark{
    background-color: #0f0e17;
    color: white;
    border: 2px solid black;
}